@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.btn-primary {
  @apply bg-custom-magenta text-white px-4 py-2 rounded-xl;
}

.btn-primary:hover {
  @apply bg-custom-dark-magenta font-semibold transition;
}

.btn-cart {
  @apply bg-custom-magenta text-white px-2 py-2 rounded-full;
}

.btn-cart:hover {
  @apply bg-custom-dark-magenta font-semibold transition;
}

.fadeInUp {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fadeInUp.visible {
  opacity: 1;
  transform: translateY(0px);
}

@media (max-width: 768px) {
  .navbar-logo {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 768px) {
  .header-text-div .header-text-h2 {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 60px;
  }
}
